Sample2/Resources/Schema/Processes/createEmployeesResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:createEmployeesResponse="http://www.tibco.com/schemas/Sample2/Resources/Schema/Processes/createEmployeesResponse.xsd"
	 targetNamespace="http://www.tibco.com/schemas/Sample2/Resources/Schema/Processes/createEmployeesResponse.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="createEmployeesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="responseCode" type="xs:int"/>
				<xs:element name="responseMessage" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>